<div class="site-footer bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>We are Ranchi based dairy committed to providing 100% natural cow milk from our dairy farm.We believe that every individual deserves milk that is free from any adultertaion, hormones, pesticides and preservatives. We have realised that pure milk can never reach you from regular milk companies which are mere collection centres which source milk from various farms. We have said NO to plastics and hence we deliver milk only in lead free glass bottles which keeps milk safe for your consumption. Our aim is to make our customers healthier with nutritional goodness that comes with 100% natural cow milk. We are on a mission #makingRANCHIhealthier.</p>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>