<img src="assets/images/img11.jpg">
<div class="site-section" id="blog-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Photo/Video</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="assets/images/gallery1.jpg" alt="Image" class="img-fluid">
            </div> 
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="assets/images/gallery2.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="assets/images/gallery3.jpg" alt="Image" class="img-fluid">
            </div> 
          </div>
          <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="assets/images/gallery4.jpg" alt="Image" class="img-fluid">
            </div> 
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="assets/images/gallery5.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="assets/images/gallery6.jpg" alt="Image" class="img-fluid">
            </div> 
          </div>
      </div>
</div>